.footer{
    padding: 24px 0;

    &.footer-default{
        background-color: #f2f2f2;
    }

    .contact{
        display: inline-block;
        float: left;
    }
    .copyright{
        font-size: $font-size-small;
        float: center;
        // padding-right: 100px;
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
}
